name: Check Interlok Templates

on:
  workflow_dispatch:
  schedule:
    - cron: 0 4 * * * # Daily 4 a.m.

jobs:
  check-interlok-templates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: wrapper
      - name: Execute Gradle Check
        run: ./gradlew -Dorg.gradle.console=plain --no-daemon -PverboseTests=true check
        env:
          ORG_GRADLE_PROJECT_repoUsername: deployment
          ORG_GRADLE_PROJECT_repoPassword: ${{ secrets.NEXUS_REPO_PASSWORD }}
      - name: Notify Teams About Failure and Recovery
        if: ${{ github.event.secrets.TEAMS_IDN_WH_URL }}
        uses: interlok-tooling/notify-teams@main
        with:
          teams-webhook-url: ${{ secrets.TEAMS_IDN_WH_URL }}
